@page
@model RagnarokGasolin.Pages.Gasolin.GasolinModel
@{
    ViewData["Title"] = "Gasolin";
}
<h1>@ViewData["Title"]</h1>

<p>Bandmedlemmer</p>
<ul id="bandMembers"></ul>

<script src="../js/Gasolin.js"></script>