@page
@model RagnarokGasolin.Pages.Gasolin.GasolinModel
@{
    ViewData["Title"] = "Gasolin";
}
<h1>@ViewData["Title"]</h1>

<p>Bandmedlemmer</p>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Gasolin/KimLarsen">Kim Larsen</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Gasolin/Franz Beckerlee">Franz Beckerlee</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Gasolin/Wili Jønsson">Wili Jønsson</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Gasolin/Søren Berlev">Søren Berlev</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Gasolin/Bjørn Uglebjerg">Bjørn Uglebjerg</a>
</li>