@page
@model RagnarokGasolin.Pages.Gasolin.GasolinModel
@{
    ViewData["Title"] = "Kim Larsen";
}
<h1>@ViewData["Title"]</h1>

<p>Kim var en mand.</p>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Gasolin/KimLarsen">Kim Larsen</a>
</li>