@page
@model RagnarokGasolin.Pages.Gasolin.GasolinModel
@{
    ViewData["Title"] = "Gasolin";
}
<h1>@ViewData["Title"]</h1>

<p>Bandmedlemmer</p>
<div id="bandMembers"></div>
<iframe id="drInterview"></iframe>

<script src="../js/Gasolin.js"></script>