html 
{
  font-size: 14px;
}

@media (min-width: 768px) 
{
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus 
{
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html 
{
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgb(40,40,40);
    color: white;
}

.myLib 
{
    background-color: #840b1c;
    color: white;
}

.carousel slide {
/*    max-width: 100vw;
    max-height: 35vh;
    justify-content: center;
    align-items: center;*/
}

.carousel-inner {
/*    max-width: 100vw;*/
    
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    margin: 0 auto; /* this will align the image to center. */
    max-width: 100vh; /* for those images which don't have a width specified, but has a max-height will be auto adjusted */
    max-height: 35vh;
    object-fit: contain;
}
 
nav
{
    background-color: rgb(130,0,0);
}

footer {
    background-color: rgb(139,0,0)
}
.topbuffer
{
    margin-top: 10px;
    font-size: 250px;
    font-family: Papyrus;
}
