html 
{
  font-size: 14px;
}

@media (min-width: 768px) 
{
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus 
{
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html 
{
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgb(40,40,40);
    color: white;
}

.myLib 
{
    background-color: #840b1c;
    color: white;
}

/* Enable dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.description{
    padding: 25px;
}



.timeline{
    margin: 0 auto;
    max-width: 750px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
}

.timeline-component{
    margin: 0 20px 20px 20px;
}

.timeline-date-parent{
    position: relative;
}

.timeline-date-r {
    text-align: right;
    position: absolute;
    min-width: 200px;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -10%);
}
.timeline-date-l {
    position: absolute;
    min-width: 200px;
    top: 50%;
    transform: translateY(-10%);
}

.timeline-middle{
    position: relative;
    background: white;
}
.timeline-point {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
}
 
nav
{
    background-color: rgb(130,0,0);
}

footer {
    background-color: rgb(139,0,0)
}

.topbuffer
{
    margin-top: 10px;
    font-size: 250px;
    font-family: Papyrus;
}

.timeline-component-bg{
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}