@page
@model RagnarokGasolin.Pages.Om_Os.Om_OsModel
@{
}

<h1>Ragnarocks historie</h1>
<body>
	@*taget fra Ragnarocks egen om os*@
	<h3 class="topbufferh3">Vores bygninger</h3>
	<p>
		Stjernearkitekterne i hollandske MVRDV og danske COBE er de kreative hoveder bag RAGNAROCKS ikoniske  bygning. Der både udadtil og indadtil understreger den historie og stemning, som museet formidler.
		Ved at  fremhæve rockens rå side med brug af ubehandlede, robuste materialer, kombinere elementer fra områdets tidligere betonfabrikshaller med nye elementer i skarpe kontraster og tilføje hint af rockens glamourøse side med en guldnittet facade afspejler bygningen både udadtil og indadtil den historie og stemning, som museet formidler.
		“Den røde løber” kickstarter besøgsoplevelsen med forskellige aktiviteter som leder op til museumsbygningen. Fremme ved museet træder man ind i museets rockende røde foyer og velkomstområde, hvorfra man kan gå på opdagelse i museets tilbud.
	</p>
</body>