@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to Ragnarock";
}

<head>
    <style>
        body
        {
            background-image: url(../img/ragnarockudstilling.jpg.webp);
            background-repeat: repeat;
            background-attachment: scroll;
            background-size: 100%;
        }
    </style>
</head>



<div class="text-center">
    
    
    <h1 class="topbuffer">Ragnarock</h1>
    

</div>
